[user]
	name = {{ .Env.name }}
	email = {{ .Env.email }}
[core]
	excludesfile = ~/.gitignore
	pager = delta

[color]
	status = auto
	diff = auto
[alias]
	mr = !sh -c 'git fetch $1 merge-requests/$2/head:mr-$1-$2 && git checkout mr-$1-$2' -

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true    # use n and N to move between diff sections
	light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default
